body {
  height: 100%;
}

.button {
  all: unset;
  font-family: "Roboto", serif;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
}

.button:hover {
  background-color: #c0fe8b;
  color: rgb(0, 0, 0);
}

.button2 {
  all: unset;
  font-family: "Roboto", serif;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(241, 241, 31);
}

.button2:hover {
  background-color: rgb(224, 5, 224);
  color: black;
}

.menu {
  transform: translateX(5%);
  position: relative;
  width: 8vw;
  height: 10vh;
  border: 5px solid black;
  background-color: #046985;
  color: white;
  margin-left: auto;
  margin-right: 0;
  overflow: scroll;
}

.description {
  position: relative;
  width: 30vw;
  height: 10vw;
  border: 5px solid black;
  text-align: center;
  background-color: #046985;
  color: white;
  overflow: scroll;
}

.rightMenu {
  position: relative;
  width: 8vw;
  height: 10vh;
  border: 5px solid black;
  background-color: #046985;
  color: white;
  margin-right: auto;
  margin-left: 0;
  overflow: scroll;
}

.buttons {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10%;
}
